html, body {
    height: 100%;
}

body {
    display: flex;
    background-color: #ebebeb;
}

.form-table {
  border: 0px;
}

.login {
  color: black;
}

.title {
  font-size: 65px;
}

.text {
  font-size: 20px;
}

.head {
  background: url(https://i.stack.imgur.com/zRInk.png) no-repeat;
  background-size: 100% auto;
}

.main {
  display: grid;
  grid-template-columns: 800px;
  margin-left: -180px;
}

.main-part {
  max-width: 100%;
}

.main-img {
  width: 50%;
}

.landing-img {
    max-width: 75%;
    height: auto;
}

.container {
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.footer-text {
  text-align: center;
  color: black;
  font-size: 20px;
}

.grid-container {
  background-color: #ebebeb;
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  padding: 70px;
}

.grid-item {
  padding: 25px;
  font-size: 30px;
  text-align: center;
}

